<h1>Firebase-demo</h1>

<input type="text" (keyup.enter)="add(course)" #course>

<!-- <ul *ngIf="authorValue$ | async as author">
  <li>{{author.name}}</li>
  <li>{{author.students}}</li>
  <li>{{author.isPremium}}</li>
</ul> -->

<ul>
  <li *ngFor="let course of (coursesValue$ | async)">
    {{course.payload.key  +" " +course.payload.val()}}
    <button (click)="updateCourse(course)" > Update </button>
  </li>
</ul>
<!-- <p>
  {{course$ | async | json}}
</p>
<p>
  {{author$ | async | json}}
</p>
<button > Go offline</button>  -->